<img src="" alt="map-header">
<img src="" alt="current-country">
<div class="user-nav">
  <img src="" alt="user-pic">
  <h5>{{user.name}}</h5>
  <div>
    <img src="" alt="magnifying-glass">
    <input placeholder="Search in Map" type="text">
    <button>Filter</button>
  </div>
</div>
<canvas>
  <img src="" alt="map">
</canvas>
<div class="places-nav">
  <img src="" alt="new-place">
  <div class="notifications">
    <img src="" alt="notifications-img">
    <p>{{notifications.number}}</p>
  </div>
</div>