<h1>{{form | json}}</h1>
<section>
  <img src="" alt="UrbanTrace">
  <form #loginForm="ngForm" (ngSubmit)="addSignUpForm(loginForm)">
    <label>E-Mail:</label>
    <input required name="email" [(ngModel)]="email" placeholder="Email" type="email">
    <br>
    <label>Password:</label>
    <input #myPassword="ngModel" required name="password" [(ngModel)]="password" placeholder="Password" type="password">
    <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p style="background:red;color:white" [hidden]="!myPassword.errors.required">
        Password is required
      </p>
    </div>
    <br>
    <button type="submit">Log In</button>
    <br>
    <button>Sign In</button>
    <button>Sign In with Facebook</button>
  </form>
</section>