<img src="" alt="Urban-Trace-Text2">
<img src="" alt="current-country">
<div class="user-nav">
  <img src="" alt="user-pic">
  <h5>{{user.name}}</h5>
  <div class="notifications">
    <img src="" alt="notifications-img">
    <p>{{notifications.number}}</p>
  </div>
</div>
<div class="menu">
  <div>
  <img src="" alt="">
  <label for="">Map</label>
  </div>
  <div>
  <img src="" alt="">
  <label for="">Profiles</label>
  </div>
  <div>
  <img src="" alt="">
  <label for="">Events</label>
  </div>
  <br>
  <div>
  <img src="" alt="">
  <label for="">Store</label>
  </div>
  <div>
  <img src="" alt="">
  <label for="">Groups</label>
  </div>
  <div>
  <img src="" alt="">
  <label for="">Media</label>
  </div>
</div>