.user-nav {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 20vh;
    padding: 0;
    margin: 0;
    color: #fff;
}
.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu label {
    margin-top: .5em;
    margin-bottom: 0;
}
.menu img {
    width: 4em;
}
.notifications img {
    height: 3em;
}