<img class="Urban-Trace-Text" src="../../assets/images/Urban-Trace-Text.png" alt="Urban-Trace-Text2">
<img src="" alt="current-country">
<div class="user-nav">
  <img src="" alt="user-pic">
  <h5>{{user.name}}</h5>
  <div class="notifications">
    <img src="../../assets/images/notifications.png" alt="notifications-img">
    <p>{{notifications.number}}</p>
  </div>
</div>
<div class="menu">
  <div>
  <a href="/map">
  <img src="../../assets/images/map-icon.png" alt="map-icon">
  </a>
  <label for="">Map</label>
  </div>
  <div>
  <img src="../../assets/images/profile-icon.png" alt="profile-icon">
  <label for="">Profiles</label>
  </div>
  <div>
  <img src="../../assets/images/events-icon.png" alt="events-icon">
  <label for="">Events</label>
  </div>
</div>
<div class="menu">
  <div>
  <img src="../../assets/images/store-icon.png" alt="store-icon">
  <label for="">Store</label>
  </div>
  <div>
  <img src="../../assets/images/groups-icon.png" alt="groups-icon">
  <label for="">Groups</label>
  </div>
  <div>
  <img src="../../assets/images/media-icon.png" alt="media-icon">
  <label for="">Media</label>
  </div>
</div>