<h1>{{form | json}}</h1>
<section>
  <h2>Sign In</h2>
  <form #signUpForm="ngForm" (ngSubmit)="addSignUpForm(signUpForm)">
    <label>Name:</label>
    <input required name="username" [(ngModel)]="username" type="text">
    <br>
    <label>E-Mail:</label>
    <input required name="email" [(ngModel)]="email" type="email">
    <br>
    <label>Password:</label>
    <input #myPassword="ngModel" required name="password" [(ngModel)]="password" type="password">
    <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p style="background:red;color:white" [hidden]="!myPassword.errors.required">
        Password is required
      </p>
    </div>
    <br>
    <label>Confirm password:</label>
    <input required name="password2" [(ngModel)]="password2" type="password">
    <br>
    <img src="" alt="UT-country">
    <label>Country:</label>
    <input required type="country">
    <button type="submit">Create</button>
  </form>
</section>
